<div class="px-5">
  <div class="flex align-items-center">
    <p-button
      [routerLink]="['/restaurants']"
      outlined>
      <i class="pi pi-arrow-left mx-2"></i>
      Voltar
    </p-button>
  </div>
  <div class="p-fluid flex justify-content-between">
    <h1>
      <i class="pi pi-plus font-bold" style="font-size: 1.5rem"></i>
      New Restaurant
    </h1>
  </div>
  <form
    (ngSubmit)="saveRestaurant()"
    [formGroup]="form">
    <p-card
      [style]="{'box-shadow': '0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1)'}">
      <div>
        <p-fileUpload (onSelect)="onSelectedFiles($event)"
                      (onUpload)="onTemplatedUpload()"
                      [multiple]="true"
                      accept="image/*"
                      maxFileSize="1000000"
                      name="myfile[]">
          <ng-template let-chooseCallback="chooseCallback"
                       let-clearCallback="clearCallback"
                       let-files
                       pTemplate="header">
            <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
              <div class="flex gap-2">
                <p-button (onClick)="choose($event, chooseCallback)" [outlined]="true" [rounded]="true"
                          icon="pi pi-images"/>
                <p-button (onClick)="clearCallback()" [disabled]="!files || files.length === 0" [outlined]="true"
                          [rounded]="true"
                          icon="pi pi-times" severity="danger"/>
              </div>
            </div>
          </ng-template>
          <ng-template let-files
                       let-removeFileCallback="removeFileCallback"
                       pTemplate="content">
            <div *ngIf="files?.length > 0">
              <div class="flex flex-wrap p-0 sm:p-5 gap-5">
                <div *ngFor="let file of files; let i = index"
                     class="card m-0 px-6 flex flex-column border-1 p-3 surface-border align-items-center gap-3">
                  <div>
                    <img [alt]="file.name" [src]="file.objectURL" height="50" role="presentation" width="100"/>
                  </div>
                  <span class="font-semibold">{{ file.name }}</span>
                  <div>{{ formatSize(file.size) }}</div>
                  <p-button (onClick)="onRemoveTemplatingFile($event, file, removeFileCallback, i)" [outlined]="true"
                            [rounded]="true" icon="pi pi-times" severity="danger"/>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="file"></ng-template>
          <ng-template pTemplate="empty">
            <div class="flex align-items-center justify-content-center flex-column">
              <i class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"></i>
              <p class="mt-4 mb-0">Drag and drop files here to upload.</p>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
      <div class="grid p-3 mt-2">
        <p-floatLabel class="col-12 md:col-6">
          <input class="w-full" formControlName="name" id="name" pInputText/>
          <label for="name">Name: </label>
        </p-floatLabel>

        <p-autoComplete
          (completeMethod)="filterCategory($event.query)"
          [style]="{width: '100%'}"
          [suggestions]="filteredCategories"
          class="col-12 md:col-6"
          dropdown
          formControlName="categoryId"
          optionLabel="name"
          optionValue="id"
          placeholder="Category"
        />
        <p-floatLabel class="col-12 mt-3">
          <textarea
            class="w-full"
            cols="30"
            formControlName="description"
            id="description"
            pInputTextarea rows="5"></textarea>
          <label for="description">Description: </label>
        </p-floatLabel>
        <p-card
          [style]="{'box-shadow': '0px 1px 8px rgba(0, 0, 0, 0.08), 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 1px 4px -1px rgba(0, 0, 0, 0.1)'}"
          class="w-full mt-3">
          <p class="m-0">
            Address:
          </p>
          <div formGroupName="address">
            <div class="grid p-3 mt-3">
              <p-floatLabel class="col-12 md:col-6 md:mt-3">
                <p-inputMask [style]="{width: '100%'}" formControlName="zipCode" id="zip" mask="99999-999"/>
                <label for="zip">Zip Code: </label>
              </p-floatLabel>
              <p-floatLabel class="col-12 md:col-6 md:mt-3">
                <input class="w-full" formControlName="street" id="street" pInputText/>
                <label for="street">Street: </label>
              </p-floatLabel>
              <p-floatLabel class="col-12 md:col-6 md:mt-3">
                <input class="w-full" formControlName="number" id="number" pInputText/>
                <label for="number">Number: </label>
              </p-floatLabel>
              <p-floatLabel class="col-12 md:col-6 md:mt-3">
                <input class="w-full" formControlName="neighborhood" id="neighborhood" pInputText/>
                <label for="neighborhood">Neighborhood: </label>
              </p-floatLabel>
              <p-floatLabel class="col-12 md:col-6 md:mt-3">
                <input class="w-full" formControlName="country" id="country" pInputText readonly/>
                <label for="country">Country: </label>
              </p-floatLabel>
              <p-autoComplete
                (completeMethod)="filterStates($event.query)"
                [style]="{width: '100%'}"
                [suggestions]="filteredStates"
                class="col-12 md:col-6 md:mt-3"
                dropdown
                formControlName="state"
                optionLabel="name"
                optionValue="value"
                placeholder="State"
              />
            </div>
          </div>
        </p-card>
        <div class="mt-3 flex justify-content-end w-full">
          <p-button
            [loading]="loading"
            icon="pi pi-check"
            iconPos="right"
            label="Save"
            severity="success"
            type="submit">
          </p-button>
        </div>
      </div>

    </p-card>
  </form>
</div>
