<div class="px-5 py-2 surface-100">
  <div class="p-fluid flex justify-content-between">
    <h1>
      <i class="pi pi-building" style="font-size: 1.5rem"></i>
      Restaurants
    </h1>
    <div class="flex align-items-center">
      <p-button
        [routerLink]="['/restaurants/new']">
        <i class="pi pi-plus mx-2"></i>
        Add Restaurant
      </p-button>
    </div>
  </div>
  <p-card>
    <div class="grid column-gap-3">
      @for (restaurant of restaurants; track restaurant.id) {
        <div>
          <p-card
            class="col-12 md:col-3"
            [header]="restaurant.name"
            [style]="{ width: '360px' }">
            <ng-template pTemplate="header">
              <img alt="Card" [src]="restaurant.image.url"/>
            </ng-template>

            <ng-template pTemplate="subheader">
              <div class="flex align-content-center gap-2">
                <p-rating [(ngModel)]="restaurant.averageRating" [readonly]="true" [cancel]="false"/>
                <span *ngIf="restaurant.totalReviews > 0"
                      class="text-primary">({{ restaurant.averageRating.toFixed(2) }})</span>
              </div>
              <div class="mt-2">
            <span>
              {{ restaurant.totalReviews }} Reviews
            </span>
              </div>
            </ng-template>

            <ng-template pTemplate="footer">
              <div
                class="flex justify-content-center mt-1">
                <p-button
                  (click)="restaurantDialog[restaurant.id] = true"
                  label="Check it out!"
                  class="font-bold">
                </p-button>
              </div>
            </ng-template>
          </p-card>
        </div>
        <p-dialog
          *ngIf="restaurantDialog[restaurant.id]"
          [modal]="true"
          [maximizable]="true"
          [(visible)]="restaurantDialog[restaurant.id]"
          [style]="{ width: '50rem' }"
          [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
          <ng-template pTemplate="header">
            <div class="px-5">
              <h3>{{ restaurant.name }}</h3>
              <div class="flex align-content-center gap-2">
                <p-rating [(ngModel)]="restaurant.averageRating" [readonly]="true" [cancel]="false"/>
                <span *ngIf="restaurant.totalReviews > 0"
                      class="text-primary">({{ restaurant.averageRating.toFixed(2) }})</span>
              </div>
              <div class="mt-2">
                <span>
                  {{ restaurant.totalReviews }} Reviews
                </span>
              </div>
            </div>
          </ng-template>
          <app-restaurant-details
            (closeDialog)="closeDialog(restaurant.id)"
            [restaurantId]="restaurant.id">
          </app-restaurant-details>
        </p-dialog>
      }
    </div>
  </p-card>
</div>
