<div class="px-5 py-2 surface-100">
  <div class="p-fluid flex justify-content-between">
    <h1>
      <i class="pi pi-building" style="font-size: 1.5rem"></i>
      Restaurants
    </h1>
    <div class="flex align-items-center">
      <p-button
        [routerLink]="['/restaurants/new']">
        <i class="pi pi-plus mx-2"></i>
        Add Restaurant
      </p-button>
    </div>
  </div>
  <p-card>
    <div class="px-5">
      <p-dataView
        #dv
        (onPage)="onPageChange($event)"
        [first]="first"
        [lazy]="true"
        [paginator]="true"
        [rowsPerPageOptions]="[12, 24, 36]"
        [rows]="paginatedInfo.size"
        [sortField]="paginatedParams.sort"
        [sortOrder]="paginatedParams.direction"
        [totalRecords]="paginatedInfo.totalElements"
        [value]="restaurants">
        <ng-template pTemplate="empty">
          @if (loading) {
            <div
              class="h-30rem flex w-full justify-content-center align-items-center">
              <p-progressSpinner class="h-15rem">
              </p-progressSpinner>
            </div>
          } @else {
            <div
              class="h-30rem p-5 flex w-full justify-content-center align-items-center">
            <span class="text-xl text-400">
              No restaurants were found.
            </span>
            </div>
          }
        </ng-template>
        <ng-template let-restaurantsData pTemplate="list">
          <div class="grid column-gap-3 flex justify-content-center">
          @for (restaurant of restaurantsData; track restaurant.id) {
            <div>
              <p-card
                class="col-12 xl:col-3 lg:col-4"
                [header]="restaurant.name"
                [style]="{ width: '360px' }">
                <ng-template pTemplate="header">
                  <img alt="Card" height="240" [src]="restaurant.image.url"/>
                </ng-template>

                <ng-template pTemplate="subheader">
                  <div class="flex align-content-center gap-2">
                    <p-rating [(ngModel)]="restaurant.averageRating" [readonly]="true" [cancel]="false"/>
                    <span *ngIf="restaurant.totalReviews > 0"
                          class="text-primary">({{ restaurant.averageRating.toFixed(2) }})</span>
                  </div>
                  <div class="mt-2">
            <span>
              {{ restaurant.totalReviews }} Reviews
            </span>
                  </div>
                </ng-template>

                <ng-template pTemplate="footer">
                  <div
                    class="flex justify-content-between mt-1">
                    <p-button
                      severity="warning"
                      [routerLink]="['/restaurants/configuration', restaurant.id]"
                      class="font-bold">
                      <i class="pi pi-cog mr-2"></i>
                      Configure
                    </p-button>
                    <p-button
                      (click)="restaurantDialog[restaurant.id] = true"
                      class="font-bold">
                      Check it out!
                      <i class="pi pi-eye ml-2"></i>
                    </p-button>
                  </div>
                </ng-template>
              </p-card>
            </div>
            <p-dialog
              *ngIf="restaurantDialog[restaurant.id]"
              [modal]="true"
              [maximizable]="true"
              [(visible)]="restaurantDialog[restaurant.id]"
              [style]="{ width: '50rem' }"
              [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
              <ng-template pTemplate="header">
                <div class="px-5">
                  <h3>{{ restaurant.name }}</h3>
                  <div class="flex align-content-center gap-2">
                    <p-rating [(ngModel)]="restaurant.averageRating" [readonly]="true" [cancel]="false"/>
                    <span *ngIf="restaurant.totalReviews > 0"
                          class="text-primary">({{ restaurant.averageRating.toFixed(2) }})</span>
                  </div>
                  <div class="mt-2">
                <span>
                  {{ restaurant.totalReviews }} Reviews
                </span>
                  </div>
                </div>
              </ng-template>
              <app-restaurant-details
                (closeDialog)="closeDialog(restaurant.id)"
                [restaurantId]="restaurant.id">
              </app-restaurant-details>
            </p-dialog>
          }
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </p-card>
</div>
